Source: elementary-wallpapers
Section: x11
Priority: optional
Maintainer: Cody Garver <cody@elementary.io>
Vcs-Git: https://github.com/elementary/wallpapers.git
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: elementary-wallpapers
Architecture: all
Depends: ${misc:Depends}
Description: elementary OS Wallpapers
 A special selection of wallpapers that ships with elementary OS.

Package: elementary-wallpapers-extra
Architecture: all
Depends: ${misc:Depends}, elementary-wallpapers
Description: extra elementary OS Wallpapers
 Wallpapers formerly shipped with elementary OS by default.
